<mat-card>

<div class="example-container">
  <mat-form-field>
    <input matInput [(ngModel)]="nom" placeholder="Nom">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput [(ngModel)]="email" placeholder="email"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="banana shot">
      <mat-option value="option1">slice</mat-option>
      <mat-option value="option2">simple</mat-option>
      <mat-option value="option3">double</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<button mat-raised-button class="bio" (click)="login()">Login</button>
</mat-card>
<br>
<br>
<mat-card>
<button mat-raised-button (click)="openDialog()">Dialog</button>
</mat-card>

<mat-card>
    <button mat-raised-button color="primary" (click)="log()">Firebase auth</button>
</mat-card>