<p>
<a routerLink="/admin/products/new"class="btn btn-primary">New Product</a>
</p>
<p>
    <input class="form-control" #query placeholder="search ..." (keyup)="filter(query.value)" type="text">
</p>
<table datatable class="table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
    <thead class="thead-dark">
       <tr>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Edit</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filterproducts">
            <td >{{p.payload.val()[0]}}</td>
            <td >{{p.payload.val()[1]}}</td>
            <td >
                <a [routerLink]="['/admin/products',p.key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
